@import url("https://fonts.googleapis.com/css?family=Schoolbell|Open+Sans:400,700");

body, html {
  font: 14px/1.5 'Open Sans', sans-serif;
  background: #aabbed;
  color:#ffffff;
  text-align:center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}

.l-relative {position:relative;}

.m-app {margin:20px;}

.m-title {
  font-family: 'Schoolbell', cursive;
  font-size:60px;
}
.m-title,
.m-title * {line-height:80px!important;}
.m-title .e-colorSlide--shadow {top:1px;}

.m-header {
  display:inline-block;
  position:relative;
  padding:40px;
  border-radius:10px;
  border:4px solid #ffff;
  width:auto;
  text-align:left;
  background-color:#7f90c1;
}
.m-header--content {
  margin-top:-15px;
}
.m-watson-text {
  font-size:15px;
  height:15px;
  width:100%;
  text-align:center;
  font-style:italic;
  opacity:0.8;
}

.m-currentWord {
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;

  margin-left:20px;
}

.m-btn {
  background:#576ba5;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size:2em;
  height:2.5em;
  width:2.5em;
  margin:0 1em;
  border:2px solid #fff;
  border-radius:100%;
  text-align:center;
}
.m-btn:active {
  -webkit-animation: squeeze 800ms linear both;
  animation: squeeze 800ms linear both;
}

.m-btn[class^="i-"]:before, 
.m-btn[class*=" i-"]:before,
.m-btn:before {margin:0;}

.m-text {
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
}


.m-loadingSpinner {
  position: absolute;
  width: 100%;
  top:50%;
  left: 0;
  font-size:6em;
  text-align:center;
  text-shadow: 1px 1px 4px rgba(150, 150, 150, 1);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.e-colorSlide {
  position:relative;
  display:inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    	to right,
	    #fdfd96,
	    #fdfd96 50%,
	    #fff 50%);
	    background-size: 205% 100%;
	    background-position: 100%;
}

.e-restingBG {
  background-color: #aabbed;
  animation-name: colorPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.e-colorSlide.is-slid {
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}
.e-colorSlide--shadow {
  position:absolute;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

@keyframes colorPulse {
  0% {
    background-color: #7f90c1;
  }
  50% {
    background-color: #576ba5;
  }
  100 {
    background-color: #7f90c1;
  }
}

@-webkit-keyframes squeeze { 
  0% { -webkit-transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(0.788, 0, 0, 0, 0, 0.787, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.788, 0, 0, 0, 0, 0.787, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.31% { -webkit-transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.81% { -webkit-transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.91% { -webkit-transform: matrix3d(0.796, 0, 0, 0, 0, 0.79, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.796, 0, 0, 0, 0, 0.79, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.61% { -webkit-transform: matrix3d(0.795, 0, 0, 0, 0, 0.788, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.795, 0, 0, 0, 0, 0.788, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.31% { -webkit-transform: matrix3d(0.788, 0, 0, 0, 0, 0.774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.788, 0, 0, 0, 0, 0.774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.51% { -webkit-transform: matrix3d(0.787, 0, 0, 0, 0, 0.773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.787, 0, 0, 0, 0, 0.773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { -webkit-transform: matrix3d(0.784, 0, 0, 0, 0, 0.767, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.784, 0, 0, 0, 0, 0.767, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.61% { -webkit-transform: matrix3d(0.783, 0, 0, 0, 0, 0.766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.783, 0, 0, 0, 0, 0.766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -webkit-transform: matrix3d(0.774, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.774, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.12% { -webkit-transform: matrix3d(0.768, 0, 0, 0, 0, 0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.768, 0, 0, 0, 0, 0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.82% { -webkit-transform: matrix3d(0.765, 0, 0, 0, 0, 0.742, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.765, 0, 0, 0, 0, 0.742, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.42% { -webkit-transform: matrix3d(0.759, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.759, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(0.753, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.753, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.52% { -webkit-transform: matrix3d(0.748, 0, 0, 0, 0, 0.726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.748, 0, 0, 0, 0, 0.726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.02% { -webkit-transform: matrix3d(0.747, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.747, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.72% { -webkit-transform: matrix3d(0.743, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.12% { -webkit-transform: matrix3d(0.742, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.742, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.33% { -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.737, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.23% { -webkit-transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.33% { -webkit-transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.34% { -webkit-transform: matrix3d(0.736, 0, 0, 0, 0, 0.739, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.736, 0, 0, 0, 0, 0.739, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.44% { -webkit-transform: matrix3d(0.738, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.738, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.54% { -webkit-transform: matrix3d(0.743, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.35% { -webkit-transform: matrix3d(0.745, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.745, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.55% { -webkit-transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.25% { -webkit-transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.65% { -webkit-transform: matrix3d(0.747, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.747, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.37% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.27% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.18% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.28% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes squeeze { 
  0% { -webkit-transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.5% { -webkit-transform: matrix3d(0.788, 0, 0, 0, 0, 0.787, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.788, 0, 0, 0, 0, 0.787, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.31% { -webkit-transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5.81% { -webkit-transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.795, 0, 0, 0, 0, 0.792, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.91% { -webkit-transform: matrix3d(0.796, 0, 0, 0, 0, 0.79, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.796, 0, 0, 0, 0, 0.79, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  7.61% { -webkit-transform: matrix3d(0.795, 0, 0, 0, 0, 0.788, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.795, 0, 0, 0, 0, 0.788, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.31% { -webkit-transform: matrix3d(0.788, 0, 0, 0, 0, 0.774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.788, 0, 0, 0, 0, 0.774, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.51% { -webkit-transform: matrix3d(0.787, 0, 0, 0, 0, 0.773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.787, 0, 0, 0, 0, 0.773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% { -webkit-transform: matrix3d(0.784, 0, 0, 0, 0, 0.767, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.784, 0, 0, 0, 0, 0.767, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.61% { -webkit-transform: matrix3d(0.783, 0, 0, 0, 0, 0.766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.783, 0, 0, 0, 0, 0.766, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.71% { -webkit-transform: matrix3d(0.774, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.774, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.12% { -webkit-transform: matrix3d(0.768, 0, 0, 0, 0, 0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.768, 0, 0, 0, 0, 0.745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15.82% { -webkit-transform: matrix3d(0.765, 0, 0, 0, 0, 0.742, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.765, 0, 0, 0, 0, 0.742, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.42% { -webkit-transform: matrix3d(0.759, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.759, 0, 0, 0, 0, 0.735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.92% { -webkit-transform: matrix3d(0.753, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.753, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.52% { -webkit-transform: matrix3d(0.748, 0, 0, 0, 0, 0.726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.748, 0, 0, 0, 0, 0.726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.02% { -webkit-transform: matrix3d(0.747, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.747, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.72% { -webkit-transform: matrix3d(0.743, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.12% { -webkit-transform: matrix3d(0.742, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.742, 0, 0, 0, 0, 0.723, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.33% { -webkit-transform: matrix3d(0.737, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.737, 0, 0, 0, 0, 0.725, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.23% { -webkit-transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30.33% { -webkit-transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.735, 0, 0, 0, 0, 0.73, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.34% { -webkit-transform: matrix3d(0.736, 0, 0, 0, 0, 0.739, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.736, 0, 0, 0, 0, 0.739, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.44% { -webkit-transform: matrix3d(0.738, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.738, 0, 0, 0, 0, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.54% { -webkit-transform: matrix3d(0.743, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.35% { -webkit-transform: matrix3d(0.745, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.745, 0, 0, 0, 0, 0.753, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  49.55% { -webkit-transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50.25% { -webkit-transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.746, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.65% { -webkit-transform: matrix3d(0.747, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.747, 0, 0, 0, 0, 0.754, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  67.37% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.751, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.27% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.18% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80.28% { -webkit-transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.751, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.75, 0, 0, 0, 0, 0.75, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


